<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('dist/scss/app.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('dist/javascript/app.js') }}"></script>
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        <nav class="navbar navbar-dark bg-primary px-5">
            <a class="navbar-brand" href="#">Blog</a>
        </nav>

        <div class="container my-3">
            {% block mainContent %}
            {% endblock %}
        </div>
    </body>
</html>
